h1 {
    padding-top: 10%;
}
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
}
p {
    font-size: 16px;
}
.bg-1 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.bg-2 { 
    background-color: #fff; /* Black Gray */
    color: #2f2f2f;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.a {
    color: #fff; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    color:#7C8287;
}
.navbar-nav li a:hover{
    color: #2f2f2f !important;
}
.centered {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 3em;
  }
  .card {
      margin: 3em;
      padding: 3em;
  }